<!-- Welcome page -->
<div class="container container-styles">
	<div class="panel panel-primary element-style">
		<div class="panel-heading">{{pageTitle}}</div>
		<div class="panel-body">
			<div class="row">
				<span class="img-responsive center-block logo-styles">
					<span class="glyphicon glyphicon-shopping-cart"> </span>
				</span>
				<div id="div1" class="shadow title-styles">mCart</div>
					
			</div>
			<br />
			<div class="row">
				<div class="text-center text-styles">Welcome to Saurabh's Mobile Cart </div>
			</div>
		</div>

		
	</div>
	
</div>
<footer>
	<div class="copyright">
	  
	  &copy; <span class="year">{{ 2024 }}</span> Saurabh's Cart
	</div>
  </footer>